@model IEnumerable<English_Quiz.Models.User>

@{
    ViewBag.Title = "Người dùng";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Danh sách người dùng</h2>

<p style="margin-left:10px;">
    <a class="btn btn-primary" href='@Url.Action("CreateUser","User")'> Thêm mới</a>
</p>
<table class="table">
    <tr>
        <th>
            Tên
        </th>
        <th>
            Ảnh
        </th>
        <th>
           Vai trò
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FULL_NAME)
            </td>
            <td>
                <img id="img" alt="User Image" src="~/Content/img/User/@item.PROFILE_IMAGE" style="height:100px;width:150px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.ROLE_NAME)
            </td>
            <td>
                <a href='@Url.Action("EditUser","User", new{ UserId = item.USER_ID})' class="btn btn-info"><i class="fas fa-edit"></i></a>
                |
                <a href="javascript:void(0)" onclick="deleteUser(@item.USER_ID)" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
    }

</table>
@section scripts{
    <script type="text/javascript"> 
        const deleteUser = (id) => {
            Swal.fire({
                title: 'Bạn chắc chắn sẽ xóa?',
                text: "Bạn sẽ không thể khôi phục bản ghi này!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Xóa!',
                cancelButtonText: 'Đóng'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: '@Url.Action("delete","User")' + `?id=${id}`,
                        type: 'POST',
                        success: function (data) {
                            if (data.Success) {
                               Swal.fire(
                                    'Deleted!',
                                    data.Message,
                                    'success'
                                )
                                setTimeout(function () { location.reload(); }, 700);

                            }
                            else {
                              Swal.fire(
                                    "Can't Delete",
                                    data.Message,
                                    'error'
                                )
                            }
                        },
                         error: function (error) {
                             alert('Lỗi ajax' + error)
                        },
                        cache: false,
                        processData: false,
                        contentType: false
                    });
                }
            })
        }
    </script>
}
