@model IEnumerable<English_Quiz.Models.Quiz>

@{
    ViewBag.Title = "Quizz";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .swal-wide {
        width: 850px !important;
    }
</style>
<h2>Danh sách bộ câu hỏi</h2>

<p style="margin-left:10px;">
    <a class="btn btn-primary" href='@Url.Action("CreateQuizz","Quizz")'> Thêm mới</a>
</p>
<table class="table">
    <tr>
        <th>
            Mã bộ câu hỏi
        </th>
        <th>
            Tên bộ câu hỏi
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QUIZ_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QUIZ_NAME)
            </td>
            <td>
                <a href='@Url.Action("EditQuizz","Quizz", new{ QuizId = item.QUIZ_ID})' class="btn btn-info"><i class="fas fa-edit"></i></a>
                |
                <a href="javascript:void(0)" onclick="deleteUser(@item.QUIZ_ID)" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
                |
                <a href="javascript:void(0)" onclick="newQuestion(@item.QUIZ_ID)" class="btn btn-dark"><i class="fa fa-plus"></i></a>
                |
                <a href="javascript:void(0)" onclick="getListQuestion(@item.QUIZ_ID)" class="btn btn-dark"><i class="fa fa-list"></i></a>
            </td>
        </tr>
    }

</table>

@section scripts{
    <script type="text/javascript">
        const listQuestion = (data) => {
            if (data != null) {
                var html = `
                            <table class="table">
                            <tr>
                                <th>
                                    Câu hỏi
                                </th>
                                <th>
                                    Lựa chọn A
                                </th>
                                <th>
                                   Lựa chọn B
                                </th>
                                <th>
                                    Lựa chọn C
                                </th>
                                <th>
                                   Lựa chọn D
                                </th>
                                <th>
                                    Đáp án
                                </th>
                                <th>
                                    Điểm
                                </th>
                                <th></th>
                            </tr>

                                `;
                for (i = 0; i < data.length; i++) {
                    html += `
                            <tr>
                                <td>
                                 ${data[i].QuestionText}
                                </td>
                                <td>
                                ${data[i].Option_1}
                                </td>
                                <td>
                                ${data[i].Option_2}
                                </td>
                                <td>
                                ${data[i].Option_3}
                                </td>
                                <td>
                                ${data[i].Option_4}
                                </td>
                                <td>
                                ${data[i].Answer}
                                </td>
                                <td>
                                ${data[i].Point}
                                </td>
                                <td>
                                 <a href='javascript:void(0)' onclick="editQuestion(${data[i].Quiz_ID})" class="btn btn-info"><i class="fas fa-edit"></i></a>
                                <a href="javascript:void(0)" onclick="deleteQuestion(${data[i].Quiz_ID})" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                                `
                }
                html += `</table>`
                swal.fire({
                    title: "Danh sách các câu hỏi",
                    html: html,
                    width: 1300,
                    confirmButtonColor: "#d33",
                    confirmButtonText: "Đóng",
                })
            }
        }
        const getListQuestion = (id) => {
            $.post("@Url.Action("ListQuestion","Quizz")", {
                quiz_id: id
            }, function (data) {
                    listQuestion(data);
            }, "json")
        }

        const editQuestion = (id) => {
            $.post("/Quizz/GetQuestionById", {
                quiz_id : id
            }, function (data) {
                    if (data != null) {
                        swal.fire({
                            title: 'Chỉnh sửa',
                            showCancelButton: true,
                            cancelButtonColor: "#d33",
                            confirmButtonColor: "#23e847",
                            confirmButtonText: "Cập nhật",
                            allowOutsideClick: false,
                            html: `<input type='text' id='question' value='${data.QuestionText}' class='form-control' placeholder='Nhập câu hỏi' /> <br />
                                   <input type='text' id='option_a' value='${data.Option_1}' class='form-control' placeholder='Đáp án A' />  <br />
                       <input type='text' id='option_b' class='form-control' value='${data.Option_2}' placeholder='Đáp án B' />  <br />
                       <input type='text' id='option_c' class='form-control' value='${data.Option_3}' placeholder='Đáp án C' />  <br />
                       <input type='text' id='option_d' class='form-control' value='${data.Option_4}' placeholder='Đáp án D' />   <br />
                       <input type='text' id='answer' class='form-control' value='${data.Answer}' placeholder='Đáp án cuối cùng' />  <br />
                       <input type='text' id='answer' class='form-control' value='${data.Point}' placeholder='Điểm' />
                        `,
                        }).then((result) => {
                            if (result.value) {
                                $.post("/Quizz/UpdateQuestion", {
                                    question: $("#question").val(),
                                    option_a: $("#option_a").val(),
                                    option_b: $("#option_b").val(),
                                    option_c: $("#option_c").val(),
                                    option_d: $("#option_d").val(),
                                    answer: $("#answer").val(),
                                    quiz_id: id,
                                    point: $("#point").val()
                                }, function (data) {
                                    listQuestion(data);
                                }, "json")
                            }
                            else if (result.dismiss == "cancel") {
                                getListQuestion(id);
                            }
                        })
                    }
            }, "json")
        }

        const deleteQuestion = (id) => {
            Swal.fire({
                title: 'Bạn chắc chắn sẽ xóa?',
                text: "Bạn sẽ không thể khôi phục bản ghi này!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Xóa!'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: '@Url.Action("deleteQuestion","Quizz")' + `?id=${id}`,
                        type: 'POST',
                        success: function (data) {
                            if (data.Success) {
                               Swal.fire(
                                    'Deleted!',
                                    'Xóa câu hỏi thành công',
                                   'success'
                               ).then(() => {
                                   getListQuestion(id);
                               })
                                

                            }
                            else {
                              Swal.fire(
                                    'Deleted!',
                                    'Xóa câu hỏi thất bại',
                                    'danger'
                              ).then(() => {
                                  getListQuestion(id);
                              })
                            }
                        },
                         error: function (error) {
                             alert('Lỗi ajax' + error)
                        },
                        cache: false,
                        processData: false,
                        contentType: false
                    });
                }
            })
        }
        const newQuestion = (id) => {
            swal.fire({
                title: 'Thêm mới câu hỏi',
                html: `<input type='text' id='question' class='form-control' placeholder='Nhập câu hỏi' /> <br />
                       <input type='text' id='option_a' class='form-control' placeholder='Đáp án A' /> <br />
                       <input type='text' id='option_b' class='form-control' placeholder='Đáp án B' /> <br />
                       <input type='text' id='option_c' class='form-control' placeholder='Đáp án C' /> <br />
                       <input type='text' id='option_d' class='form-control' placeholder='Đáp án D' /> <br />
                       <input type='text' id='answer' class='form-control' placeholder='Đáp án cuối cùng' /> <br />
                       <input type='text' id='point' class='form-control' placeholder='Điểm' />
                        `,
                showCancelButton: true,
                cancelButtonColor: "#d33",
                confirmButtonColor: "#23e847",
                confirmButtonText: "Thêm mới",
                allowOutsideClick: false,
                preConfirm: function () {
                    var answer = $("#answer").val();
                    var option_a = $("#option_a").val();
                    var option_b = $("#option_b").val();
                    var option_c = $("#option_c").val();
                    var option_d = $("#option_d").val();
                    if (answer == "" || option_a == "" || option_b == "" || option_c == "" || option_d == "") {
                        alert("Không được để trống các trường");
                        return false;
                    }
                    if (answer != option_a) {
                        if (answer != option_b) {
                            if (answer != option_c) {
                                if (answer != option_d) {
                                    alert("Bạn cần nhập đáp án trùng với 4 lựa chọn trên");
                                    return false;
                                }
                            }
                        }
                    }
                }
            }).then((result) => {
                if (result.value) {

                    $.post("@Url.Action("CreateQuestion", "Quizz")",
                        {
                            question: $("#question").val(),
                            option_a: $("#option_a").val(),
                            option_b: $("#option_b").val(),
                            option_c: $("#option_c").val(),
                            option_d: $("#option_d").val(),
                            answer: $("#answer").val(),
                            quiz_id: id,
                            point: $("#point").val()
                        },
                        function (data) {
                            if (!data.Success) {
                                swal.fire("Failed", "Thêm mới thất bại", "danger")
                            }
                            else {
                                swal.fire("Success", "Thêm mới thành công", "success")
                            }
                        }, "json")
                }
            })
        }

        const deleteUser = (id) => {
            Swal.fire({
                title: 'Bạn chắc chắn sẽ xóa?',
                text: "Bạn sẽ không thể khôi phục bản ghi này!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Xóa!'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: '@Url.Action("delete","Quizz")' + `?id=${id}`,
                        type: 'POST',
                        success: function (data) {
                            if (data.Success) {
                               Swal.fire(
                                    'Deleted!',
                                    'Xóa người dùng thành công',
                                    'success'
                                )
                                setTimeout(function () { location.reload(); }, 1500);

                            }
                            else {
                              Swal.fire(
                                    'Deleted!',
                                    'Xóa người dùng thành công',
                                    'danger'
                                )
                            }
                        },
                         error: function (error) {
                             alert('Lỗi ajax' + error)
                        },
                        cache: false,
                        processData: false,
                        contentType: false
                    });
                }
            })
        }
    </script>
}

