<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
        <img src="~/Content/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Quản lý </span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                @if (@Session["Image"] != null && @Session["Image"].ToString() != string.Empty)
                {
                    <img src="~/Content/img/User/@Session["Image"]" style="height:2.2rem !important;width:3.1rem !important" class="img-circle elevation-2" alt="User Image">
                }
                else
                {
                    <img src="~/Content/dist/img/avatar04.png" style="height:2.2rem !important;width:3.1rem !important" class="img-circle elevation-2" alt="User Image">
                }
            </div>
            <div class="info">
                <a href="@Url.Action("Index","Dashboard")" class="d-block">@Session["UserName"]</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview menu-open">
                    <a href="@Url.Action("Index","Dashboard")" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Trang chủ
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-chart-pie"></i>
                        <p>
                            Quản lý đề thi
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href='@Url.Action("Quizz","Quizz")' class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Đề thi
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href='@Url.Action("Index","QuizType")' class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Loại đề
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href='@Url.Action("Index","Question")' class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Câu hỏi
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href='@Url.Action("Index","QuestionType")' class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Loại câu hỏi
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href='@Url.Action("Index","Listening")' class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Bài nghe
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href='@Url.Action("Index","ListeningType")' class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Loại bài nghe
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href='@Url.Action("Index","Reading")' class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Bài đọc
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href='@Url.Action("Index","ReadingType")' class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Loại bài đọc
                                </p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class=" nav-icon fas fa-users"></i>
                        <p>
                            Người dùng
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href='@Url.Action("Index","User")' class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Danh sách người dùng</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-lightbulb"></i>
                        <p>
                            Mẹo thi
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href='@Url.Action("Index","Tip")' class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Danh sách</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href='@Url.Action("Index","TipType")' class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Loại</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-comments"></i>
                        <p>
                            Nhận xét
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href='@Url.Action("Index","UserEvaluateWebsite")' class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Danh sách</p>
                            </a>
                        </li>
                    </ul>
                    
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-tree"></i>
                        <p>
                            Hệ thống
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href='@Url.Action("Index","Role")' class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Vai trò</p>
                            </a>
                        </li>
                        @*<li class="nav-item">
                            <a href='@Url.Action("Index","Function")' class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Chức năng</p>
                            </a>
                        </li>*@
                        <li class="nav-item">
                            <a href='@Url.Action("Index","Permission")' class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Phân quyền</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>