@using English_Quiz.Models
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    User user = Session[ConstantData.USER_QUIZZ_SESSION] as User;
    IList<User_Evaluate_Website> user_evaluate = ViewData["UserEvaluate"] as IList<English_Quiz.Models.User_Evaluate_Website>;
}
<style>
    .slide-arrow {
        bottom: 100%;
        position: absolute;
    }

    .prev-arrow,
    .next-arrow {
        position: absolute;
        top: 50%;
        opacity: 0.4;
    }

    .prev-arrow {
        right: 105%;
    }

    .next-arrow {
        left: 105%;
    }

    .slick-dots {
        position: absolute;
        bottom: -60px;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        color: #282fde;
        font-size: 16px;
    }

        .slick-dots li button {
            color: #282fde;
        }

            .slick-dots li button:before {
                font-family: slick;
                font-size: 6px;
                line-height: 20px;
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                content: '•';
                text-align: center;
                opacity: .25;
                color: #282fde;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }

        .slick-dots li.slick-active button:before {
            opacity: .75;
            color: #282fde;
        }

    .card {
        width: 400px;
        border: none;
        border-radius: 15px;
        padding-bottom: 130px
    }

    .adiv {
        background: #f4623a;
        border-radius: 15px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        font-size: 12px;
        height: 46px
    }

    .fa-quote-left {
        color: #F13355
    }

    .name {
        color: #B0B0B0;
        font-size: 12px
    }
</style>
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">Học toeic trực tuyến - luyện thi toeic trực tuyến</h1>
                <hr class="divider my-4" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5">Nơi mà bạn có thể học và thử thách bản thân với những bài học, bài kiểm tra theo từng cấp độ </p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="@Url.Action("AboutUs","Take_Quiz")">Thông tin</a>
            </div>
        </div>
    </div>
</header>
<section class="page-section">
    <div class="container">
        <h2 class="text-center mt-0">Vì sao nên chọn chúng tôi</h2>
        <hr class="divider my-4" />
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-gem text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Nâng cao kĩ năng học TOEIC</h3>
                    <p class="text-muted mb-0">Rèn luyện 2 kỹ năng TOEIC Reading và TOEIC Listening nhanh nhất.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Cập nhật đề TOEIC mới liên tục</h3>
                    <p class="text-muted mb-0">Các bộ đề TOEIC quốc tế, ETS... luôn được cập nhật liên tục và thường xuyên.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-globe text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Đề thi TOEIC có đáp án</h3>
                    <p class="text-muted mb-0">Sau khi làm bài bạn có thể kiểm tra đáp án</p>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="page-section bg-light">
    <div class="container">
        <h2 class="text-center mt-0">Nhận xét của người dùng</h2>
        <h5 class="text-center mt-0">Mọi ý kiến đóng góp của bạn sẽ làm website được hoàn thiện hơn. </h5>
        <hr class="divider my-4" />
        <div class="row slick">
            @foreach (var item in user_evaluate)
            {
                <div class="container d-flex justify-content-center">
                    <div class="card mt-5">
                        <div class="d-flex flex-row justify-content-between p-3 adiv text-white"> <span class="pb-3">Đánh giá</span></div>
                        <div class="comment px-4">
                            <div class="d-flex flex-row">
                                <i class="fas fa-quote-left mr-2"></i>
                                <h6>@item.USER_CONTENT_EVALUATE </h6>
                            </div>
                        </div>
                        <div class="name px-5 pt-2"> <span>@item.USER_NAME_EVALUATE</span><br> <span>@item.USER_JOB</span> </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <h2 class="text-center mt-0">Để lại nhận xét</h2>
        <div>
            @if (user == null)
            {
                <div class="form-group">
                    <label for="formGroupExampleInput">Họ và tên</label>
                    <input type="text" class="form-control" id="Name" placeholder="Ví dụ: Hoàng Vĩnh Tiến">
                </div>
            }
            else
            {
                <div class="form-group">
                    <label for="formGroupExampleInput">Họ và tên</label>
                    <input type="text" value="@user.FULL_NAME" class="form-control" id="Name" placeholder="Ví dụ: Hoàng Vĩnh Tiến">
                </div>
            }

            <div class="form-group">
                <label for="formGroupExampleInput2">Ngành nghề</label>
                <input type="text" class="form-control" id="Job" placeholder="Ví dụ: Giáo viên">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Nội dung nhận xét</label>
                <input type="text" class="form-control" id="Content" placeholder="Ví dụ : Trang web này vô cùng thân thiện">
            </div>
            <button onclick="submitReview()" class="btn btn-primary">Gửi</button>
        </div>
    </div>
</section>
@section Scripts{
    <script>
        const submitReview = () => {
            //Swal.fire(
            //    'Đã gửi',
            //    "Gửi đánh giá thành công",
            //    'success'
            //)
            let Name = $("#Name").val();
            let Job = $("#Job").val();
            let Content = $("#Content").val();
            if (Content == "") {
                Swal.fire(
                    'Trống',
                    "Cần nhập nhận xét trước khi gửi",
                    'warning'
                )
                return;
            }
            else if (Name == "") {
                Swal.fire(
                    'Trống',
                    "Cần nhập họ tên trước khi gửi",
                    'warning'
                )
                return;
            }
            
            var formData = new FormData();
            formData.append("Name", Name);
            formData.append("Job", Job);
            formData.append("Content", Content);
            $.ajax({
                url: '/Take_Quiz/SubmitReview',
                type: 'POST',
                data: formData,
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.Success) {
                        Swal.fire(
                            'Đã gửi',
                            data.Message,
                            'success'
                        )
                        setTimeout(function () { location.reload(); }, 1155);

                    }
                    else {
                        Swal.fire(
                            "Lỗi",
                            data.Message,
                            'error'
                        )
                    }
                },
                error: function (error) {
                    alert('Lỗi ajax' + error)
                },
                cache: false,
                processData: false,
                contentType: false
            });
        }
    </script>

}