@model IList<English_Quiz.Models.Question>
@{
    ViewBag.Title = "Bài kiểm tra";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    Random r = new Random();
    int count = 1, countR = r.Next(0, 500);
    IList<English_Quiz.Models.Answer> lstanswer = ViewData["Answer"] as IList<English_Quiz.Models.Answer>;
}
<section  class="page-section bg-primary">
    <div id="test" class="container ">
        <div class="Quiz ">
            <h4> <span class="label label-info">Câu hỏi :</span> </h4>
            <div style="right:0px;position:fixed;margin-right:200px;" id="countdown"></div>
            @if (Model != null)
            {
                <div id="point"></div>
                foreach (var question in Model)
                {
                    <div class="BlockQ" style="border: 1px solid #bdbdbd; width: 75%; border-radius: 4px; margin-top: 40px; background-color: #f0ffff; padding: 8px;">
                        <div class="Question" style="padding: 2%;">
                            <span class="label label-warning"> @string.Format("{0}{1}.", "Q", count)</span>
                            <span id="@string.Format("{0}{1}", "ID_Q", count)" style="display:none;">@question.QUESTION_ID</span>
                            <p style="display: inline; padding: 2%;" id="@string.Format("{0}{1}", "Q", count)">@question.QUESTION_TEXT</p>
                        </div>
                        <div class="Choices" style="margin-left: 8%;">
                            @foreach (var answer in lstanswer)
                            {
                                if (answer.QUESTION_ID == question.QUESTION_ID)
                                {
                                    <label class="radio-inline">
                                        <input type="radio" name="@string.Format("{0}{1}", "inlineRadioOptions",count)" id="@string.Format("{0}{1}", "inlineRadio", countR)" value="@answer.QUESTION_ID" style="margin-left: -16px;"> @answer.DESCRIPTION
                                    </label><br />
                                }
                            }
                        </div> <!--END Choices-->

                        <div id="@string.Format("{0}{1}{2}", "Ans","Q", count)">

                        </div>
                    </div> <!-- END BlockQ -->
                    count++;

                }
                <span id="countQuestions" style="display:none;">@count</span>
                <button type="button" id="SubmitQuiz" class="btn btn-light btn-xl js-scroll-trigger" style="margin-top: 10px;"><span class="glyphicon glyphicon-ok"></span>   Nộp bài </button>
            }
        </div> <!-- END QUIZ -->
    </div> <!-- END CONTAINER -->
</section>

@section Scripts {

    <script type="text/javascript">
        function CountDown(p) {
        // p: là số phút
        window.SI = null;
        //if ($("#test").length == 0) {
        //    $("#test").append(`<div id="countdown"></div>`);
        //    }
            var now = new Date (),
            time = new Date ( now );
            time.setMinutes ( now.getMinutes() + 30 );
        
        SI = setInterval(function () {
            GetMinutes(time);
        }, 1000);
    }
    /* Lấy phút */
        function GetMinutes(time) {

        let now = new Date().getTime();
        // Find the distance between now and the count down date
        let distance = time - now;
        // If the count down is finished, write some text
        if (distance < 0) {
            clearInterval(SI);
            document.getElementById("countdown").style.display = "none";
            $("#SubmitQuiz").click();
        }
        else {
            let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            let seconds = Math.floor((distance % (1000 * 60)) / 1000);
            minutes = (minutes < 10) ? ("0" + minutes) : minutes;
            seconds = (seconds < 10) ? ("0" + seconds) : seconds;
            document.getElementById("countdown").innerHTML = minutes + " : " + seconds;
        }
    }
        $(document).ready(function () {
            CountDown(30);
            $('#SubmitQuiz').on('click', function () {

                //count Questions
                var sel = $('#countQuestions').text();

                console.log(sel);

                var resultQuiz = [], countQuestion = parseInt(sel), question = {}, j = 1;

                for (var i = 1; i < countQuestion; i++) {
                    question = {
                        QuestionID: $('#ID_Q' + i).text(),
                        QuestionText: $('#Q' + i).text(),
                        Answer: $('input[name=inlineRadioOptions' + i + ']:checked').val()
                    }

                    resultQuiz.push(question);
                }
                $.post("@Url.Action("GetAllAnswer", "Take_Quiz")", {
                }, function (response) {
                        if (response.length > 0) {
                            var point = 0;
                            for (var i = 0; i < response.length; i++) {
                                if (resultQuiz[i].Answer == null) {
                                $('#AnsQ' + j).html('<div class="alert alert-danger" role="alert"> <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Incorrect answer' /*- The Good Answer is <b>' + response[i].ANSWER + '</b></div>*/);
                            }
                            else {
                                if (response[i].ANSWER == resultQuiz[i].Answer) {

                                    $('#AnsQ' + j).html('<div class="alert alert-success" role="alert"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Correct answer</div>');
                                    point += response[i].POINT;
                                }
                                else {
                                    $('#AnsQ' + j).html('<div class="alert alert-danger" role="alert"> <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Incorrect answer - '/*right answer is <b>' + response[i].ANSWER_DESCRIPTION + '</b></div>*/);
                                }
                            }
                            j++;
                            }
                            $("#point").html('<h4> Total point :' + point + '</h4>');
                            $.post("/Take_Quiz/Quiz_History",{
                                point: point,
                            }, function () {

                            },"json")
                        }
                    else{
                        alert("Something Wrong");
                    }
                }, "json")
            });
        });

    </script>
}