@model IList<English_Quiz.Models.Question>
@{
    ViewBag.Title = "Bài kiểm tra";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    Random r = new Random();
    int count = 1, countR = r.Next(0, 1500), countTab = 1, questionPerTab = 5, totalNotListeningQuestion = 0;
    IList<English_Quiz.Models.Answer> lstanswer = ViewData["Answer"] as IList<English_Quiz.Models.Answer>;
    IList<English_Quiz.Models.Listening_Type> lstListeningType = ViewData["ListeningType"] as IList<English_Quiz.Models.Listening_Type>;
    IList<English_Quiz.Models.Listening> lstListening = ViewData["Listening"] as IList<English_Quiz.Models.Listening>;
    int quiz_time = (ViewBag.time == null) ? 1 : ViewBag.time;
    List<English_Quiz.Models.Question> lstQuestions = new List<English_Quiz.Models.Question>();
}

<section class="page-section bg-primary">
    <div id="test" class="container ">

        <ul class="nav nav-tabs">
            @if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    if (item.IS_LISTENING == false)
                    {
                        totalNotListeningQuestion++;
                    }
                }
                decimal tab = Convert.ToDecimal(totalNotListeningQuestion) / questionPerTab;
                tab = Math.Ceiling(tab);
                for (int i = 0; i < tab; i++)
                {
                    int next = countTab + (questionPerTab - 1);
                    if (countTab == 1)
                    {
                        <li class="active nav-item">
                            <a class="nav-link active" style="color:black;" data-toggle="tab" href="#@countTab">@countTab - @next </a>
                        </li>
                    }
                    else
                    {
                        <li class=" nav-item">
                            <a class="nav-link " style="color:black;" data-toggle="tab" href="#@countTab">@countTab - @next </a>
                        </li>
                    }
                    countTab += questionPerTab;
                }
                foreach (var item in lstListeningType)
                {
                    <li class=" nav-item">
                        <a class="nav-link " style="color:black;" data-toggle="tab" href="#Listening_@item.LISTENING_TYPE_ID">@item.LISTENING_TYPE_NAME_EN </a>
                    </li>
                }
            }

        </ul>
        @if (Model != null && Model.Count > 0)
        {
            <div style="right:0px;position:fixed;margin-right:200px;" id="countdown"></div>
            <button type="button" id="SubmitQuiz" class="btn btn-light btn-xl js-scroll-trigger" style="margin-top: 40px; position:fixed;right:165px;"><span class="glyphicon glyphicon-ok"></span>   Nộp bài </button>
            <div style="margin-top:50px;position:fixed;right:200px;" id="point"></div>
        }
        <div class="tab-content">

            @if (Model != null)
            {
                decimal tab = Convert.ToDecimal(totalNotListeningQuestion) / questionPerTab;
                tab = Math.Ceiling(tab);
                for (int i = 0; i < tab; i++)
                {
                    if (count == 1)
                    {
                        <div id="@count" class="tab-pane fade show active ">
                            <div class="Quiz">
                                <h4> <span class="label label-info">Câu hỏi :</span> </h4>
                                @foreach (var question in Model)
                                {
                                    if (count > questionPerTab)
                                    {
                                        break;
                                    }
                                    if (!question.IS_LISTENING)
                                    {
                                        <div class="BlockQ" style="border: 1px solid #bdbdbd; width: 75%; border-radius: 4px; margin-top: 40px; background-color: #f0ffff; padding: 8px;">
                                            <div class="Question" style="padding: 2%;">
                                                <span class="label label-warning"> @string.Format("{0}{1}.", "Q", count)</span>
                                                <span id="@string.Format("{0}{1}", "ID_Q", count)" style="display:none;">@question.QUESTION_ID</span>
                                                <p style="display: inline; padding: 2%;" id="@string.Format("{0}{1}", "Q", count)">@question.QUESTION_TEXT</p>

                                            </div>
                                            <div class="Choices" style="margin-left: 8%;">
                                                @foreach (var answer in lstanswer)
                                                {
                                                    if (answer.QUESTION_ID == question.QUESTION_ID)
                                                    {
                                                        <label class="radio-inline">
                                                            <input type="radio" name="@string.Format("{0}{1}", "inlineRadioOptions",count)" id="@string.Format("{0}{1}", "inlineRadio", countR)" value="@answer.ANSWER_ID" style="margin-left: -16px;"> @answer.DESCRIPTION
                                                        </label><br />
                                                    }
                                                }
                                            </div> <!--END Choices-->

                                            <div id="@string.Format("{0}{1}{2}", "Ans","Q", count)">

                                            </div>
                                        </div> <!-- END BlockQ -->
                                        count++;
                                        lstQuestions.Add(question);
                                    }
                                }
                            </div>
                        </div>
                    }

                    else
                    {
                        int firstCount = count;
                        <div id="@count" class="tab-pane fade  ">
                            <div class="Quiz">
                                <h4> <span class="label label-info">Câu hỏi :</span> </h4>
                                @foreach (var question in Model)
                                {

                                    if (count >= firstCount + questionPerTab)
                                    {
                                        break;
                                    }
                                    if (lstQuestions.Contains(question))
                                    {
                                        continue;
                                    }
                                    if (!question.IS_LISTENING)
                                    {
                                        <div class="BlockQ" style="border: 1px solid #bdbdbd; width: 75%; border-radius: 4px; margin-top: 40px; background-color: #f0ffff; padding: 8px;">
                                            <div class="Question" style="padding: 2%;">
                                                <span class="label label-warning"> @string.Format("{0}{1}.", "Q", count)</span>
                                                <span id="@string.Format("{0}{1}", "ID_Q", count)" style="display:none;">@question.QUESTION_ID</span>
                                                <p style="display: inline; padding: 2%;" id="@string.Format("{0}{1}", "Q", count)">@question.QUESTION_TEXT</p>

                                            </div>
                                            <div class="Choices" style="margin-left: 8%;">
                                                @foreach (var answer in lstanswer)
                                                {
                                                    if (answer.QUESTION_ID == question.QUESTION_ID)
                                                    {
                                                        <label class="radio-inline">
                                                            <input type="radio" name="@string.Format("{0}{1}", "inlineRadioOptions",count)" id="@string.Format("{0}{1}", "inlineRadio", countR)" value="@answer.ANSWER_ID" style="margin-left: -16px;"> @answer.DESCRIPTION
                                                        </label><br />
                                                    }
                                                }
                                            </div> <!--END Choices-->

                                            <div id="@string.Format("{0}{1}{2}", "Ans","Q", count)">

                                            </div>
                                        </div> <!-- END BlockQ -->
                                        count++;
                                        lstQuestions.Add(question);
                                    }
                                }

                            </div>
                        </div>
                    }
                }
                foreach (var item in lstListeningType)
                {
                    int countListening = 1;
                    <div id="Listening_@item.LISTENING_TYPE_ID" class="tab-pane fade ">
                        <div class="Quiz">
                            <h4> <span class="label label-info">Câu hỏi :</span> </h4>
                            @foreach (var listening in lstListening)
                            {
                                if (listening.LISTENING_TYPE_ID == item.LISTENING_TYPE_ID)
                                {
                                    <div style="margin-top:20px;">
                                        <audio controls preload="metadata" style="width:500px;">
                                            <source src="~/Content/audio/@listening.LISTENING_FILE_NAME" />
                                        </audio>
                                    </div>
                                    foreach (var question in Model)
                                    {
                                        if (lstQuestions.Contains(question))
                                        {
                                            continue;
                                        }
                                        if (question.IS_LISTENING == true && question.LISTENING_ID == listening.LISTENING_ID)
                                        {
                                            <div class="BlockQ" style="border: 1px solid #bdbdbd; width: 75%; border-radius: 4px; margin-top: 40px; background-color: #f0ffff; padding: 8px;">
                                                <div class="Question" style="padding: 2%;">
                                                    <span class="label label-warning"> @string.Format("{0}{1}.", "Q", countListening)</span>
                                                    <span id="@string.Format("{0}{1}", "ID_Q", count)" style="display:none;">@question.QUESTION_ID</span>
                                                    <p style="display: inline; padding: 2%;" id="@string.Format("{0}{1}", "Q", count)">@question.QUESTION_TEXT</p>

                                                </div>
                                                <div class="Choices" style="margin-left: 8%;">
                                                    @foreach (var answer in lstanswer)
                                                    {
                                                        if (answer.QUESTION_ID == question.QUESTION_ID)
                                                        {
                                                            <label class="radio-inline">
                                                                <input type="radio" name="@string.Format("{0}{1}", "inlineRadioOptions",count)" id="@string.Format("{0}{1}", "inlineRadio", countR)" value="@answer.ANSWER_ID" style="margin-left: -16px;"> @answer.DESCRIPTION
                                                            </label><br />
                                                        }
                                                    }
                                                </div> <!--END Choices-->

                                                <div id="@string.Format("{0}{1}{2}", "Ans","Q", count)">

                                                </div>
                                            </div> <!-- END BlockQ -->
                                            count++;
                                            countListening++;
                                            lstQuestions.Add(question);
                                        }
                                    }
                                }
                            }
                        </div>
                    </div>
                }
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">


                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Thông tin đề thi</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <p>Thời gian bài thi : @quiz_time phút</p>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-dismiss="modal">Đóng</button>
                            </div>
                        </div>

                    </div>
                </div>
            }
            <button style="display:none;" type="button" class="btn btn-info btn-lg" id="openModal" data-toggle="modal" data-target="#myModal">Open Modal</button>
            <span id="countquestions" style="display:none;">@count</span>
            <div style="margin-top:5%" id="GetLesson"></div>
            @*<div id="home" class="tab-pane fade active show in">
                    <div class="Quiz ">
                        <h4> <span class="label label-info">Câu hỏi :</span> </h4>
                        @if (Model != null)
                        {



                            <div style="margin-top:5%" id="GetLesson"></div>

                        }
                    </div>
                </div>
                <div id="menu1" class="tab-pane fade">
                    <div class="Quiz ">
                        <h4> <span class="label label-info">Câu hỏi :</span> </h4>
                        @if (Model != null)
                        {

                        }
                    </div>
                </div>*@
        </div>

    </div>

</section>

@section Scripts {

    <script type="text/javascript">

        function CountDown(p) {
        // p: là số phút
        window.SI = null;
        //if ($("#test").length == 0) {
        //    $("#test").append(`<div id="countdown"></div>`);
        //    }
            var now = new Date (),
            time = new Date ( now );
            time.setMinutes ( now.getMinutes() + @quiz_time );

        SI = setInterval(function () {
            GetMinutes(time);
        }, 1000);
    }
    /* Lấy phút */
        function GetMinutes(time) {

        let now = new Date().getTime();
        // Find the distance between now and the count down date
        let distance = time - now;
        // If the count down is finished, write some text
        if (distance < 0) {
            clearInterval(window.SI);
            document.getElementById("countdown").style.display = "none";
            $("#SubmitQuiz").click();
        }
        else {
            let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            let seconds = Math.floor((distance % (1000 * 60)) / 1000);
            minutes = (minutes < 10) ? ("0" + minutes) : minutes;
            seconds = (seconds < 10) ? ("0" + seconds) : seconds;
            document.getElementById("countdown").innerHTML = minutes + " : " + seconds;
        }
    }
        $(document).ready(function () {
            var modalId = localStorage.getItem('openModal');
             if (modalId != null){
                $("#openModal").click();
                //$("#myModal").modal("toggle");
                //localStorage.removeItem('openModal');
             }
            CountDown(30);
            $('#SubmitQuiz').on('click', function () {

                //count Questions
                var sel = $('#countquestions').text();
                var resultQuiz = [], countQuestion = parseInt(sel), question = {}, j = 1;

                for (var i = 1; i <= countQuestion; i++) {
                    question = {
                        QuestionID: $('#ID_Q' + i).text(),
                        QuestionText: $('#Q' + i).text(),
                        Answer: $('input[name=inlineRadioOptions' + i + ']:checked').val()
                    }

                    resultQuiz.push(question);
                }
                $.post("@Url.Action("GetAllAnswer", "Take_Quiz")", {
                }, function (response) {
                        clearInterval(window.SI);
                        document.getElementById("countdown").style.display = "none";
                        if (response.length > 0) {
                            var point = 0;
                            for (var i = 0; i < resultQuiz.length; i++) {
                                if (resultQuiz[i].Answer == null) {
                                    $('#AnsQ' + j).html('<div class="alert alert-danger" role="alert"> <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Incorrect answer' /*- The Good Answer is <b>' + response[i].ANSWER + '</b></div>*/);
                                }
                                else {
                                    for (var m = 0; m < response.length; m++) {
                                        if (resultQuiz[i].QuestionID == response[m].QUESTION_ID) {
                                            if (response[m].ANSWER_ID == resultQuiz[i].Answer) {
                                            $('#AnsQ' + j).html('<div class="alert alert-success" role="alert"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Correct answer</div>');
                                                point += response[m].POINT;
                                            }
                                            else
                                            {
                                            $('#AnsQ' + j).html('<div class="alert alert-danger" role="alert"> <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Incorrect answer '/*right answer is <b>' + response[i].ANSWER_DESCRIPTION + '</b></div>*/);
                                            }
                                        }

                                }

                            }
                            j++;
                        }

                            $("#point").html('<h4> Tổng điểm :' + point + '</h4>');
                            document.getElementById("SubmitQuiz").style.visibility = "hidden"
                            //$.post("/Take_Quiz/Quiz_History",{
                            //    point: point,
                            //}, function () {

                            //},"json")
                        }
                    else{
                        alert("Something Wrong");
                    }
                }, "json")
            });
        });

    </script>
}