@model English_Quiz.Models.User
@{
    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<section class="page-section bg-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="panel panel-default">
                <div class="panel-heading">Đăng ký</div>
                <div class="panel-body">
                    @using (Html.BeginForm("UserRegister", "Take_Quiz", FormMethod.Post))
                    {
                        @Html.EditorFor(c => c.FULL_NAME, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tên người dùng", @style = "width:100%;" } })<br />
                        @Html.EditorFor(c => c.USER_NAME, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tên đăng nhập", @style = "width:100%;" } })<br />
                        @Html.EditorFor(c => c.PASSWORD, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mật khẩu", @style = "width:100%;", @type = "password" } })<br />
                        @Html.EditorFor(c => c.ADDRESS, new { htmlAttributes = new { @class = "form-control", @placeholder = "Địa chỉ", @style = "width:100%;" } })<br />
                        @Html.EditorFor(c => c.PHONE_NUMBER, new { htmlAttributes = new { @class = "form-control", @placeholder = "Số điện thoại", @style = "width:100%;", @type = "tel", @pattern = "(84|0[3|5|7|8|9])+([0-9]{8})" } })<br />

                        <button type="submit" id="Enter" class="btn btn-light btn-xl js-scroll-trigger" style="width:100%;"><span class="glyphicon glyphicon-user"></span>   Đăng ký</button>
                    }
                </div>
                @if (ViewBag.msg != null)
                {
                    @*<div class="well well-sm well-danger"> @ViewBag.Msg </div>*@
                    <a style="display:none" onclick="message()" id="messageClick"></a>
                }

            </div>
        </div>
    </div>

</section>

@section Scripts{
    <script type="text/javascript">

        const message = () => {
            if (type == "success") {
                var hostname = window.location.origin;
                var login = "Take_Quiz/UserLogin";
            Swal.fire(
                'Thành công',
                '@ViewBag.msg',
                'success'
            )
                setTimeout(function () { window.location.href = hostname + "/" + login; }, 1500);
        }
        else if (type == "false") {
            Swal.fire(
                'Thất bại',
                '@ViewBag.msg',
                'error'
            )
        }
        else {
            Swal.fire(
                'Thất bại',
                'Có lỗi trong việc tạo tài khoản, vui lòng thử lại !',
                'error'
            )
        }
        }
        var type = "@ViewBag.type"
        if (type != null) {
            $("#messageClick").click();
        }
    </script>

}