@model English_Quiz.Models.Reading

@{
    ViewBag.Title = "Sửa bài đọc";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Sửa bài đọc</h2>

@using (Html.BeginForm("EditReading", "Reading", FormMethod.Post, new { encType = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Bài đọc</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.READING_ID)
        @if (ViewBag.errorMsg != null)
        {
            <div class="well well-sm well-danger"> @ViewBag.errorMsg </div>
        }
        <div class="form-group">
            <label class="control-label col-md-2">Sử dụng ảnh</label>
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.IS_IMAGE, new { htmlAttributes = new { @class = "form-control" }, id = "cbIsImage" })
                @Html.ValidationMessageFor(model => model.IS_IMAGE, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" id="Reading_Text">
            <label class="control-label col-md-2">  Câu hỏi bài đọc</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.READING_TEXT, new { @class = "form-control", @style = "width:100%;height:300px;", @id = "txtAreaReading" })
                @Html.ValidationMessageFor(model => model.READING_TEXT, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" id="Reading_Image" style="display:none">
            <label class="control-label col-md-2">  Ảnh bài đọc</label>
            <div class="col-md-10">
                <img id="img" src="~/Content/img/Reading/@Model.READING_IMAGE" alt="Reading Image" style="height:300px;width:350px" />
                <input type='file' id="fUpload" name="fUpload" />
                @Html.ValidationMessageFor(model => model.READING_IMAGE, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label class="control-label col-md-2">Bài test</label>
                @Html.CheckBoxFor(model => model.IS_TEST, new { htmlAttributes = new { @class = "form-control" }, id = "cbIsTest" })
                @Html.ValidationMessageFor(model => model.IS_TEST, "", new { @class = "text-danger" })

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">  Loại</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.READING_TYPE_ID, (SelectList)ViewBag.ListType, "--Chọn--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.READING_TYPE_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở lại", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img').attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        };

        $("#fUpload").change(function () {
            readURL(this);
        });
        ClassicEditor
            .create(document.querySelector('#txtAreaReading'), {
                // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(err => {
                console.error(err.stack);
            });
        $(document).ready(function () {
            if ($("#cbIsImage")[0].checked == true) {
                $("#Reading_Text").attr('style', 'display:none !important')
                $("#Reading_Image").attr('style', 'display:visible !important')
            }
            $("#cbIsImage").change(function (e) {
                if ($("#cbIsImage")[0].checked == true) {
                    $("#Reading_Text").attr('style', 'display:none !important')
                    $("#Reading_Image").attr('style', 'display:visible !important')
                }
                else {
                    $("#Reading_Image").attr('style', 'display:none !important')
                    $("#Reading_Text").attr('style', 'display:visible !important')
                }
            })
        })
    </script>
}